.footer-manu{
    background-color: #F2F5F8;
}
.footer-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-top: 1px solid #ABA6B9;
    padding: 10px 0;
}
.icon{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 20px;
}
.single-icon{
    color: #6F6384;
    width: 30px;
    padding: 7px;
}
.navlist{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}
.single-nav{
    font-size: 14px;
    border-right: 1px solid #6F6384;
    padding: 0 15px;
    color: #ABA6B9;
}
.single-nav:hover{
    color: #ABA6B9;
}